.chat-section {
	display: flex;
	flex-direction: column;
	border: 1px solid #282c34;
	height: 640px;

	section.messages {
		align-self: stretch;
		padding: 0px;
		margin: 0px;

		display: flex;
		flex-direction: column-reverse;
		overflow-y: auto;
		flex-grow: 1;

		.message-wrapper {
			display: flex;
			flex-direction: column;
		}
	}

	article {
		padding: 2px 12px;
	}

	p {
		margin: 0.25em 0;
	}
}

.chat-message {
	address {
		display: inline-block;
		font-weight: bold;
	}

	.author {
		font-weight: bold;
	}
}

.chat-join-message,
.chat-leave-message {
	font-style: italic;

	address {
		display: inline;
	}
}

.form-elements {
	display: flex;
	div {
		flex-grow: 1;
		width: 100%;
	}
}
